# shared
APP_NAME=samruk-erp
DEV=true
PROM_ENABLED=1

DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres/postgres
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
PGDATA=/var/lib/postgresql/data/pgdata
POSTGRES_DB=postgres

LOG_LEVEL=INFO
# TODO: what is this and why it spams a ton of warnings?
#LOGSTASH_HOST=logstash
LOGSTASH_PORT=5044
REQUEST_ID_HEADER=X-Request-ID

REDIS_URL=redis://redis:6379/0
IDEMPOTENCY_TTL_SEC=5
IDEMPOTENCY_MAX_BODY_BYTES=1048576 # 1 MB

# document-service
DOCUMENT_STORAGE_DIR=/app/data/documents
DOCUMENT_CHUNK_ROWS=30
EMBEDDING_SIZE=1536
DOCUMENT_HNSW_EF_SEARCH=200
