APP_NAME=service
DEV=true

DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres/postgres
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
PGDATA=/var/lib/postgresql/data/pgdata
POSTGRES_DB=postgres
LOG_LEVEL=INFO
LOGSTASH_HOST=logstash
LOGSTASH_PORT=5044
REQUEST_ID_HEADER=X-Request-ID

PROM_ENABLED=1

REDIS_URL=redis://redis:6379/0
IDEMPOTENCY_TTL_SEC=5

USER_SERVICE_URL=http://user-service:8001
